

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Rubik", sans-serif;
  font-size-adjust: auto;
  line-height: 1.75em;
  text-align: left;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;

  background: #121314;
  color: #fff;
}


